body{
    height: 200px;
    background-color: burlywood;   
}
/* 
section{
    height: 5px;
    background-color: coral;
} */

h1{
	/* height: -100px; */
	margin: 0;
	padding: 0 0 5px;
	font-size: 22px;
}

p{
	margin: 0;
	/* padding: 0 0 20px; */
	font-size: 10px;
	color: white;
	height: 50px;
}

.SignUp{
	width: 520px;
	height: 450px;
	background: gray; 
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 50px 60px;
	border-radius: 10px;
}
.SignUp Form input{
	width: 25%;
	margin-bottom: 20px;
}

.SignUp Form input[type="text"]
{
	border: none;
	border-bottom: 1px solid orangered;
	/* background: transparent; */
	/* outline:black; */
	height: 35px;
	/* color: brown; */
	font-size: 15px;
	width: 160px;
}

.SignUp Form input[type="password"]
{
	border: none;
	border-bottom: 1px solid orangered;
	/* background: transparent; */
	/* outline:black; */
	height: 35px;
	/* color: brown; */
	font-size: 15px;
	width: 330px;
}

.SignUp Form input[type="password"]
{
	border: none;
	border-bottom: 1px solid orangered;
	/* background: transparent; */
	/* outline:black; */
	height: 35px;
	/* color: brown; */
	font-size: 15px;
	width: 330px;
}

.SignUp Form input[type="email"]
{
	border: none;
	border-bottom: 1px solid orangered;
	/* background: transparent; */
	/* outline:black; */
	height: 35px;
	/* color: brown; */
	font-size: 15px;
	width: 330px;
}

.SignUp input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background:green;
	color: honeydew;
	font-size: 18px;
	border-radius: 20px;
	width: 300px;
}